<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @repo %></title>
  </head>
  <body>
    <h2>Signature not found</h2>
    <p>It looks like this package isn't signed.</p>
    <% if ENV['MAINTAINER_EMAIL'] %>
      <p>If you're sure this package should be signed, contact the maintainer:
        <a href="mailto:<%= ENV['MAINTAINER_EMAIL'] %>">
          <%= ENV['MAINTAINER_EMAIL'] %>
        </a>
      </p>
    <% end %>
  </body>
</html>
